a.c-add-item{
	text-decoration: none;
}

/*select{
	color: '' !important;
}*/
.my-select {
    color: #ccc !important;
}
.at-btn{
	padding : 0 !important;
}

/*Development Fetch Button Message*/
#c-message{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}
#c-message-folio{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}
#c-message-lot{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}

/*FontAwesome
=======================================*/
button i{
	float: right;
	margin-left: 5px;
}

/*Input Validation
========================================*/
input#c-25-1627:valid {
  color: green;
}
input#c-2-768:valid {
  color: green;
}
input#c-25-1628:valid {
  color: green;
}
input#c-25-1627:invalid {
  color: red;
}
input#c-25-1628:invalid {
  color: red;
}
input#c-2-768:invalid {
  color: red;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}


/*Upload File
=================================================*/
.upload-container{
  max-width: 840px;
  width: 100%;
  background-color: white; 
  font-size: inherit!important;
  margin: 0 auto 40px auto!important;
  max-width: 840px;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
}