a.c-add-item{
	text-decoration: none;
}

/*select{
	color: '' !important;
}*/
.my-select {
    color: #ccc !important;
}
.at-btn{
	padding : 0 !important;
}

/*Development Fetch Button Message*/
#c-message{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}
#c-message-folio{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}
#c-message-lot{
    font-weight: bold;
    font-size: 0.95em;
    color:red;
    margin-top: 25px;
}

/*FontAwesome
=======================================*/
button i{
	float: right;
	margin-left: 5px;
}

/*Input Validation
========================================*/
input#c-25-1627:valid {
  color: green;
}
input#c-2-768:valid {
  color: green;
}
input#c-25-1628:valid {
  color: green;
}
input#c-25-1627:invalid {
  color: red;
}
input#c-25-1628:invalid {
  color: red;
}
input#c-2-768:invalid {
  color: red;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}


/*Upload File
=================================================*/
.upload-container{
  max-width: 840px;
  width: 100%;
  background-color: white; 
  font-size: inherit!important;
  margin: 0 auto 40px auto!important;
  max-width: 840px;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
}


/*Index List
=================================================*/

.single {
padding: 30px 15px;
margin-top: 10px;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px !important;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }